body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown {
    float: right;
    overflow: hidden;
    display: block;
    z-index:100000000;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #f2f2f2;
    padding: 14px 16px;
    background-color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    z-index: 100000000;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #ddd; 
    color: black;
}

.dropdown-content {
    right: auto;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    max-height: 500px;
    overflow-y: auto;
    z-index: 100000000
}

.dropdown-content label {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    z-index: 100000000;
    position: relative;
}

.dropdown-content label:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

body {
     font-family: Arial, sans-serif;
     margin: 0;
     padding: 0;
     background-color: #f5f5f5;
 }

.navbar {
    overflow: hidden;
    background-color: #333;
    z-index: 1000;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #f2f2f2;
    padding: 14px 16px;
    background-color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #ddd;
    color: black;
}


.nodes .dropdown-content {
    right: 0;
}

.dropdown-content label:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
} 

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.map {
    width: 1000px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.map-container {
    width: 1000px;
    height: 599px;
    margin-right: auto;
    margin-left: 125px;
    margin-top: 17px;
}

.origin {
    position: absolute;
    left: 0;
    top: 0;
}

.point {
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 50%;
    z-index: 999;
}

.id-label {
    position: relative;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px; 
    color: #000;
    z-index: 998;
}

.hidden {
    display: none;
}

/* Ajoutez ces styles pour la boîte de dialogue */
.popup {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 3px solid #ccc;
    padding: 10px;
    z-index: 10000;
}

/* Styles pour les points transparents */
.transparent {
    opacity: 0.1; /* Opacité des points transparents */
}

.transparenttotal {
    opacity: 0; /* Opacité des points transparents */
}

.opacity {
    opacity: 1; /* Opacité des points transparents */
}

.navbar .node {
    display: none;
}

.navbar .node.selected {
    display: block;
}

.navbar .label {
    position: absolute;
    left: 45%;
    top: 12px;
    color: #ffffff;
    font-size: 20px;
}

.navbar .button {
    position: absolute;
    border: none;
    outline: none;
    right: 0;
    top: 0;
    color: #f2f2f2;
    background-color: #333333;
    font-size: 16px;
    padding: 10px 16px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    margin: 0;
}
.signaling{
    display: none;
    position: absolute;
    background-color: #d1db16;
    border: 3px solid #ccc;
}

.node{
    display: none;
    background-color: #d1db16;
    border: 3px solid #ccc;
}

.search{
    display: block;
    position: absolute;
    background-color: #d1db16;
    border: 3px solid #ccc;
}

.layer1 {
    width: 1000px;
    height: 599px;
    margin-right: auto;
    margin-left: 125px;
    margin-top: 17px;
    z-index: 1;
    opacity: 1;
}

.layer2 {
    width: 1000px;
    height: 599px;
    margin-right: auto;
    margin-left: 125px;
    margin-top: 17px;
    z-index: 2;
    opacity: 0.5;
}

.layer3 {
    width: 1000px;
    height: 599px;
    margin-right: auto;
    margin-left: 125px;
    margin-top: 17px;
    z-index: 100000000;
    opacity: 0.3;
}